<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<h1>Hello, <%= @user.email %></h1>
<h3>Purchase of the product <%= @product.name %> in quantity of <%#= @order.quantity %> item was successful</h3>
<p>Thanks for joining and have a great day!</p>
</body>
</html>